@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.kratos{
    background-image:url(img/god-of-war-ragnarok-1080x609.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;
    color:white

}
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
    


    body{
        background: var(--preta);
        font-family: 'Arial', Times, serif; 
        color:white
        }

            


header a:hover{
   
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
    text-decoration: none;
    color: #aaa;
    
      

}

header{
    background-color:rgb(68, 68, 68) ;
    padding: 20px;
    z-index: 20;
    
       
}




.infos img {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
}

p, h1{
    
    font-family: 'Roboto', sans-serif;
    color: white;

}



/* */