
1º_Bimestre/Introducao_ a_ Informatica/Mochila_do_Viajante/
1º_Bimestre/Introducao_ a_ Informatica/Aula - 10-08/Comandos do terminal.pdf
1º_Bimestre/Introducao_ a_ Informatica/Aula -09-08/Guia instalação - VSCode - Node - Git - Windows.pptx.pdf
1º_Bimestre/Introducao_ a_ Informatica/Aula03/arquivo.txt
1º_Bimestre/Introducao_ a_ Informatica/Arquivos/Introdução_informatica.txt
1º_Bimestre/integracao_aula_1e2/servidores/resumo.txt
1º_Bimestre/integracao_aula_1e2/o_que_faremos_hoje/resumo.txt
1º_Bimestre/integracao_aula_1e2/interfaces_de_usuario/resumo.txt
1º_Bimestre/integracao_aula_1e2/infraestrutura/resumo.txt
1º_Bimestre/integracao_aula_1e2/historia_da_contabilidade/resumo.txt
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/Cafeteria JoJoJu.txt
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/Mesa-17-Emarket.sql
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/Cafeteria JoJoJu.sql
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/_ [CTD - Turma 12] Checkpoint II - Avaliação Parcial.pdf
1º_Bimestre/Aula_Banco_de_Dados/Check List 1/Untitled Diagram.drawio.pdf
1º_Bimestre/Aula_Banco_de_Dados/Check List 1/check point 1.pdf
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/_ [CTD - Turma 12] Checkpoint II - Avaliação Parcial.pdf
1º_Bimestre/Aula_Banco_de_Dados/Aula04/projeto/
1º_Bimestre/Aula5_Turma12/
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/_ [CTD - Turma 12] Checkpoint II - Avaliação Parcial.pdf
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/_ [CTD - Turma 12] Checkpoint II - Avaliação Parcial.pdf
1º_Bimestre/Aula_Banco_de_Dados/Check List 2/_ [CTD - Turma 12] Checkpoint II - Avaliação Parcial.pdf
2º_ Bimestre/Programacao _imperativa/Aula 15 - 24-11/Mesa_de_Trabalho/
2º_ Bimestre/Front_End_1/Checkpoint_2/CheckpointII/
