*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    padding: 40px;
}

@keyframes circle {
    0%{        
        opacity: 0;
        transform: translate (0px);
    }

    50%{
        opacity: 1;
        transform: translate(900px);
    }
}


@keyframes gameover {
    0%{        
        opacity: 1;
        transform: rotate(360) ;
    }

    50%{
        opacity: 1;
        transform: rotate(360);
    }
}

.circle {
    
    animation-iteration-count: infinite;
    animation-name: circle;
    animation-duration:3s;
}

.gameover {
    
    animation-iteration-count: infinite;
    animation-name: gameover;
    animation-duration:3s; 
    
}



.gameover {
        border: 0;
        padding: 24px;
        font-size: 24px;             
        transition: .5s ease-in-out;
        transform-origin:right bottom 60px
    
}
    
    
.gameover:hover {
        padding: 24px;               
        transform: translate(5px) rotate(80deg);
                     
}

.new {
        color: white;
        background-color: violet;
        border: 0;
        padding: 24px;
        font-size: 24px; 
        border-radius: 12px;            
        transition: .6s ease-in-out;

}      
   
.new:hover {
        color: white;
        background-color:rgb(199, 49, 154);
        
}


   