* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
 
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
    'main-header main-header'
    'main-content main-aside'
    'main-footer main-footer'
          
    ;
 
  }


 header {
    background-color: grey;
    grid-area:main-header;
    padding:18px;
    color: wheat;
  }

main {
  background-color:rgba(0, 0, 0, 0.904);
  grid-area:main-content;
  text-align: center;


}

main iframe {
  margin: 48px  48px;

}

  aside {
    display: flex;
    flex-direction: column;
    grid-area:main-aside;
    gap: 12px;
    
  }


  section {
    display: flex;
    background-color:rgba(0, 0, 0, 0.904);

  }

   section .video {
    
    object-fit: cover;
    object-position: bottom;
    margin-top: 48px;

  }


  section .content-right{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
    margin-top: 48px;

  }

  section .content-right div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    }


  footer {
    background-color: grey;
    grid-area:main-footer;
    padding: 24px;
  }

  
  